.venv/
.idea/
__pycache__/
*.pyc
.env
build/
dist/
*.spec
downloads/
_thumbs/
*.db
*.log
*.sqlite
*.sqlite3
*.egg-info/
.Python
*.so
.DS_Store
Thumbs.db
.vscode/
*.bak
*.tmp
*.pem
*.key
.identity_*.enc
*.auth
.message/
files/
favorites/