# Виртуальное окружение
.venv/
venv/

# Python-кэш
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# IDE
.idea/
.vscode/

# Конфиденциальные данные
.env
.env.local

# Секреты и ключи
*.pem
*.key
*.enc
.identity_*.enc
*.auth

# Сборки
build/
dist/
*.spec

# Логи
*.log
logs/

# Локальная БД
*.db
*.sqlite
*.sqlite3

# Данные мессенджера
message/
files/
favorites/
downloads/
_thumbs/

# Временные
*.bak
*.tmp

# ОС
.DS_Store
Thumbs.db